
modules = ["python-3.11"]

[nix]
channel = "stable-23_05"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["python3", "main.py"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 46447926
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
