run = "python3 -m gunicorn --bind 0.0.0.0:3000 slack_message_handler:app"

[deployment]
run = ["sh", "-c", "python3 -m gunicorn --bind 0.0.0.0:3000 slack_message_handler:app"]

[[ports]]
localPort = 3000
externalPort = 80
