[nix]
channel = "stable-22.11"

[deployment]
run = ["python3", "-m", "gunicorn", "--bind", "0.0.0.0:3000", "slack_message_handler:app"]

[interpreter]
command = ["python3"]

[packager]
ignoredPaths = ["venv", ".git"]

[packager.requiredFiles]
"requirements.txt" = "latest"

[[ports]]
localPort = 3000
externalPort = 80
